*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
.header{
    width: 100%;
    /* margin-top: 50px; */
    height: 50vh;
    background-image: url("image/pickmixbanner1.jpg");
    background-position:center;
    background-size: cover;
    border-style:solid;
    border-bottom-width:5px;
}
nav{ 
   width: 100%;
   padding: 20px 0;
   text-align: center;
}
#menu a{
    color:#fff;
    text-decoration: none;
}
#menu a:hover{
   color: crimson;
   text-decoration: underline;
}
.logo{
    width: 40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}
.textlogo{
    font-size: 5rem;
    color: rgb(253, 238, 29);
    text-shadow: rgb(255, 0, 144);
}
nav ul{
    background:#000;
    width: 100%;
    margin-top: 10px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 20px 30px;
    color: #fff;
}
nav.sticky{
    position: fixed;
    top: 0;
    left:0;
    padding: 10px 8%;
    background: #000;
    display: flex;
    align-items: centre;
    justify-content: space-between;
    transition: padding 1s;
}
nav.sticky img{
    margin-top: 3%;
    margin-left: -100px;
}
nav.sticky .textlogo{
    margin-left: -200px; 
}
nav.sticky ul{
    width: auto;
}
.middle{
    width:60px;
     height:45vh; 
  display: block;
  margin-left:20%;
  margin-right: 200px;
  width: 40%;

}
.texthigh{
    padding-top: 2px;
    margin-left:2%;
    width: 35%;
    margin-top:3px;
    border-bottom-style:dotted;
    color: rgb(255, 105, 0);
    border-left-width:10px;
    /* background-color: black; */
}
.textalign
{
    /* margin-top: -100px; */
    margin-left:20%;
    /* margin-right: 200px; */
    width: 40%;
    border-left-style:solid;
    border-left-width:2px;
}
 .text{
    /* height:50vh;  */
    /* padding-left: px; */
    margin-left:20px;
    /* display: block; */
    padding-top:6px;
    border-left: 2px;
    /* margin-left:20%; */
    /* margin-right: 200px; */
    width: 100%;
    /* border-left-style:solid; */
    border-left-width:1px;
    margin-bottom:10px;
}
.sidebar{
    /* display: relative; */
    float: left;
   /* margin-top: 10px; */
    width: 40%;
    margin-left:120px;
    margin-right:0px;
    /* padding: 10px; */
    /* padding-top: 35px; */
}
.sidebar img{
  margin-left: 350px;
  height:50%;
  width:65%;
}
.sidebar h3{
    margin-top: 20px;
    margin-left:50%; 
    color: blue;
}
.sidebar  ul a{
    margin-top: 20px;
    margin-left:54%;
    display: block;
    color: darkgoldenrod;
    text-decoration:dotted;
}
.sidebar  ul a:hover{
    color: #c73f12;
    text-decoration:underline;
}

 .query{
    /* display: relative; */
    /* float: left; */
   /* margin-top: 10px; */
    /* width: 40%; */
    margin-left:120px;
    margin-right:0px;
    /* padding: 10px; */
    /* padding-top: 35px; */
}
.query .texalign{
  margin-left: 200px;
  height:100%;
/* width:150%; */
}
.query .texthigh{
    width:40%;
}
.query form{
    margin-top: -290px;
    margin-left:69%; 
    /* margin-right:20px; */
    padding:1vw 4vw;
    color: rgb(14, 183, 206);
    display :flex;
    flex-direction: column;
    width:25%;

}
.query h3{
    margin-right:20px;
}
.query  input{
  padding:1vw;
  font-size:1rem;
  width: 90%;
  margin-right:-30px;
  font-weight:bold;
  color: #000;
  background: #f5f5f5;
  /* border-color:#f5f5f5; */
  
}
.query .text{
    width:80%;
    text-align: justify;
}
.query textarea{
    width:100%;
    margin-right:-40px;
    font-size:1rem;
    margin-top:1px;
    padding: 2px 0px 0px 5px;

}
.query button{
    /* bottom:10px; */
   
    font-size:1rem;
    font-weight:bold;
    padding:3px 0;
    background: #ff5361;
    color:#fff;
    padding: 15px;
    border:0;
    margin-top:5px;
   
}
footer{
    width:100%;
    position: relative;
    bottom: 0;
  background: linear-gradient(to right,#028b74,#c73f12);
  color:#fff;
  padding: 10px 0 3px;
  font-size: 13px;
  line-height:20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
#bottomm{
  margin-left: 40%;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}
/* ul li{
list-style:none;
margin-bottom: -100px;
} */
.link{
    margin-top:10%;
}
ul span a{
  text-decoration: none;
 /* padding-top:15%; */
 /* margin-bottom: 20px; */
  ;
 /* color: #4d028b; */
 color: #fff;
}
ul span a:hover{
    color:rgb(16, 236, 192);
    text-decoration: underline;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-regular{
  font-size: 18px;
  margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color:#ccc;
    border:0;
    outline:none;
}
form button{
    background: transparent;
    border:0;
    outline:none;
    cursor:pointer;

}
form button .fa-solid{
  font-size: 16px;
  color: rgb(17, 182, 237);
}
.social-icons{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
hr{
    width:90%;
    border:0;
    border-bottom: 1px solid #ccc;
    margin:10px auto;
}
.copyright{
    text-align:center;
}

@media only screen and (max-width:700px){
    /* .header{
    width: 10px;
    margin-top: 50px;
    height: 10vh;      
    background-position:center;
    background-size: cover;
    border-style:solid;
    border-bottom-width:5px;
    } */
    /* .logo{
        width: 10px;
        height:15px;
        border-radius: 50%;
        cursor: pointer;
    }
    .textlogo{
        font-size:200%;
        text-align: center;
        position: relative;
        
    }
    nav.sticky img{
        margin-top: 3%;
        margin-left: 90px;
    }
    nav ul{
        width:100%;
        background: rgb(0, 0, 0);
        position: absolute;
        top:100px;
        z-index:2;
    }
    nav ul li{
        display:block;
        margin-top: 5px;
        margin-bottom: 10px;

    }
   

    nav.sticky img{
        margin-top: 3%;
        margin-right: 500px;
    }
    /* position: absolute; */
    /* border-left-width:2px; */
 
    /* .texthigh{
     font-size:1rem; */
     /* display:inline; */
     /* margin-left:2%;
     width:130%;
        text-align: center;
    }
   .middle{
      height:20%;
    } */ */

 } 